body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
ul {
  list-style-type: none;
}
/* Header */
.header-link {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header-link:hover {
  color: #2196f3;
}
.header-link:focus {
  color: #2196f3;
}
.logo {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.logo-accent {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
/* Hero */
.hero-section {
  background-color: #2f303a;
}
.hero-title {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.hero-button {
  margin: 0 auto;
  display: block;

  width: 216px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.hero-button:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #2196f3;
}
/* Our activity */
.our-activity-section {
  background: #fff;
}

.detail-list-item {
  width: 270px;

  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.detail-text {
  width: 270px;
  height: 72px;
  flex-shrink: 0;

  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.punctuality-list-item {
  width: 270px;

  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.punctuality-text {
  width: 270px;
  height: 48px;
  flex-shrink: 0;

  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.diligence-list-item {
  width: 270px;

  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.diligence-text {
  width: 270px;
  height: 48px;
  flex-shrink: 0;

  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.technologie-list-item {
  width: 270px;

  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.technologies-text {
  width: 270px;
  height: 72px;
  flex-shrink: 0;

  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.our-activity-title {
  text-align: center;

  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
/* Our team */
.our-team-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
.our-team-section {
  background: #f5f4fa;
}
.product-designer-name {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.product-designer-profession {
  color: #757575;
  text-align: center;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.48px;
}
.frontend-developer-name {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.frontend-developer-profession {
  text-align: center;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.48px;
}
.marketing-name {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.marketing-profession {
  color: #757575;
  text-align: center;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.48px;
}
.ul-designer-name {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.ul-designer-profession {
  color: #757575;
  text-align: center;

  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.48px;
}

/* Footer */
.footer-saction {
  background: #2f303a;
}
.logo-footer {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.logo-footer-accent {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer-text {
  color: #fff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer-link {
  width: 231px;
  height: 21px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer-link:hover {
  color: #2196f3;
}
.footer-link:focus {
  color: #2196f3;
}

.filters-items {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
}
.portfolio-product-mame {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-product {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}
